*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a, 
button,
select,
.card,
.wrap_img {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}