* *, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
}

a, 
button, 
input[type="button"],
input[type="reset"], 
input[type="submit"] {
    transition: all .1s ease-in;
}

img {
    width: 100%;
    vertical-align: top;
}

.main_container {
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
    border: solid #2B81AC; 
    border-width: 14px 17px 13px 16px;
    height: 100%;
    background-color: #3399CC;
}

.container {
    display: block;
    border: 3px solid #fff;
    max-width: 533px;
    width: 100%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.w_25 {
    width: 25%;
    border: 3px solid #fff;
    height: 79px;
}

.w_50 {
    width: 50%;
    border: 1px solid #fff;
    height: 79px;
}

.w_100 {
    width: 100%;
}


.lisbon {
   background-color: #3399CC ;
}

.paris {
    background-color: #33CCCC;
}
.belgrade {
    background-color: #996699;
}

.venice {
    background-color: #C24747;
}

.telaviv {
    background-color: #E2674A;
}

.kyiv {
    background-color: #FFCC66;
}

.amsterdam {
    background-color: #99CC99;
}

.tokyo {
    background-color: #669999;
}

.sanfrancisco {
    background-color: #CC6699;
}

.sydney {
    background-color: #339966;
}

.newdelhi {
    background-color: #666699;
}
