
$font_family_OpenSans: 'Open Sans', sans-serif;
$font_family_Montserrat: 'Montserrat';
$font_family_Source_Sans_Pro: 'Source Sans Pro', sans-serif;

$text_color: #2C4058;
$font_size: 1.125rem;
$line_height: 1.5625rem;
$background_color_white: #fff;
// $background_color_white: #2C4058;

// $base_fz: 16;

// @mixin fz($size_in_px) {
//     font-size:($size_in_px/$base_fz)+rem;
// }

@import 'parts/reset';
@import 'hamburger';

body {
    font-family: $font_family_OpenSans;
    color: $text_color;
    font-size: $font_size;
    line-height: $line_height;
    background-color: $background_color_white;
    &.lock {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}



// .pic img {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     height: 100%;
//     transform: translate(-50%, -50%);
// }



.header_logo,
.footer_logo {
    // width: 241px;
    // width: 100%;
    // height: 54px;
    // border: 1px solid blue;
    // background-color: beige;
}

.wrap_menu {
    position: fixed;
    top: 0px;
    width: 100%;
    // max-width: 1600px;
    // top: 53px;
    padding-top: 53px;
    // left: 0px;
    z-index: 10;
    // height: 160px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 215px;
    // padding-right: 215px;
    margin-bottom: 200px;

    // background: rgba(255, 255, 255, .6);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.scroll {
        height: 62px;
        padding-top: 0px;
        // top: 0;
        transition: all 0.2s ease;
        background: rgb(116,152,231);
        // background: linear-gradient(45deg, rgba(116,152,231,1) 44%, rgba(123,98,251,1) 55%);
        -webkit-box-shadow: 0 0 5px rgb(123, 98, 251);
                box-shadow: 0 0 5px rgb(123, 98, 251);
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
}

.main_menu {
    z-index: 1000;
    // border: 1px solid pink;
    line-height: 0;
    padding-left: 128px;
    padding-right: 94px;
    & ul {
        display: flex;
        // flex-direction: row;
        list-style: none;
        font-family: 'Source Sans Pro', sans-serif;
    }
    & li {
        display: flex;
        flex-direction: row;
        margin-right: 70px;
        &:last-child{
            margin-right: 0;
        }
        & a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.875rem;
            line-height: 1.1rem;
            margin-left: 14px;
            font-weight: 400;
            font-family: $font_family_Source_Sans_Pro;
            // position: relative;
            align-items: center;
            
        }
        &::before{
            content: '';
            display: block;
            // position: absolute;
            position: relative;
            top: 17%;
            left: 0;
            width: 8px;
            height: 8px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        &:hover::before{
            content: '';
            border: 4px solid #fff;
            width: 7px;
            height: 7px;
        }
    }
}

.socials {
    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        & li {
            line-height: 0;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

#main_slider {
    // max-width: 1600px;
    width: 100%;
    // max-height: 800px;
    // height: 100%;
    // margin: 0 auto;
}

#main_slider .slick-track {
    // top: 0px;
}

.slider_item {
    // width: 100%;
    // height: 800px;
    text-align: center;
    padding-top: 315px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    
    // padding-top: 120px;
    // padding-left: 900px;
    & p {
        font-family: $font_family_Montserrat;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 240px;
    }
}

/*custom light slider dots*/
// <<===========================>>
/*custom light slider dots*/
.slick-dotted.slick-slider
{
    // margin-bottom: 50px;
    margin-bottom: 0px;
}

.slick-dots
{
    position: absolute;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    top: 33%;
}

#main_slider .slick-dots {
    width: 5.5%;
    right: 80px;
}


.slick-dots li
{
    margin: 20px 52px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slick-dots li button
{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    border: 0;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    display: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 0px solid #fff;
    border-radius: 50%;
    content: '';
}
.slick-dots li.slick-active button:before
{
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 1;
    background-color: #fff;

}

#news_slider .slick-dots {
    flex-direction: row;
    justify-content: center;
    bottom: 80px;
    top: 81%;
    width: 100%;

}

.slick-dots li
{
    margin: 20px 20px;
}


// <<===========================>>

h1 {
    font-family: $font_family_Montserrat;
    font-size: 5rem;
    color: #fff;
    line-height: 6.095rem;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.socials_svg {
    width: 40px;
    height: 40px;
    &:hover {
        transform: scale(1.1);
    }
}

.bottom_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
    cursor: pointer;
    transition: all .2s ease;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        // left: 50%;
        // transform: translateX(0px);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(225deg);
        // top: -2px;
        // left: 49.9%;
    }
    &:hover  {
        transform: scale(1.1);
    }
}

h2 {
    font-family: $font_family_Montserrat;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.3525rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 89px;
}

.up_line {
    &::before {
        content: '';
        display: block;
        border-top: 1px solid #2C4058;
        max-width: 100px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;

    }
}

.up_line_wght {
    &::before {
        border-color:  #fff;
    }
}

.wrap_commerce {
    display: flex;
    // flex-wrap: wrap;
}

.flex_reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.wrap_two_img {
    position: relative;
    max-width: 845px;
    width: 100%;
    height: 527px;
    // background-color: #55B7FF;
    margin-right: 70px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        max-width: 585px;
        width: 100%;
        height: 470px;
        background-color: #55B7FF;
    }
    & .pic {
        position: absolute;
        max-width: 630px;
        width: 100%;
        height: 470px;
        right: 0;
        bottom: 0;
    }
     
}

.wrap_two_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: top;
}

.reverse_pic {
    margin-right: 0;
    &::before {
        position: absolute;
        right: 0;
        background-color: #7E5AFF;
    }
    & .pic {
        left: 0;
    }
}

.reverse_margin {
    margin-right: 62px;
    margin-left: 215px;
}

#trade_center,
#commerce_centre {
    margin-bottom: 140px;
}

#trade_center {
    padding-top: 100px;
}

.wrap_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 151px;
    & p:first-child {
        font-family:$font_family_Montserrat;
        font-size: 1.375rem;
        line-height: 1.67625rem;
        text-transform: uppercase;
    }
    & p:last-of-type {
        font-family:$font_family_OpenSans;
        font-size: 1.125rem;
        line-height: 1.875rem;
        // letter-spacing: -0.001rem;
        margin-bottom: 41px;
    }
    & a:hover {
        transform: scale(1.03);
    }
}

h2.text_h2_left {
    text-align: left;
    margin-bottom: 19px;
}

.btn_what_do {
    margin-bottom: 60px;
}

.map_link {
    font-family:$font_family_OpenSans;
    font-size: 0.9375rem;
    font-style: italic;
    line-height: 1.275rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    // &::before {
    //     display: block;
    //     content: '';
    // }
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 0 41px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.0625rem;
    font-family: $font_family_Montserrat;
    font-size: 0.875rem;
    // border: none;
    border: 1px solid #2C4058;
    background-color: #fff;
    // background: #496bfe; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    // background: -o-linear-gradient(42deg, #496bfe 46%,#5474fd 46%);
    // background: linear-gradient(42deg, #496bfe 46%,#5474fd 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#5474fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    // background-position: center top;
    // background-size: 300% auto;
    &:hover {
        // background-position: left top;
        transform: scale(1.03);
    }
    // &:focus {
    //     // outline: none;
    //     // border: 1px solid #FF6363;
    // }
}

.btn-gallery {
    padding: 0 57px;
}

.wght {
    color: #fff;
    padding-top: 100px;

}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news_slider {
    // cursor: pointer;
    max-width: 1200px;
    width: 100%;
    // border: 1px solid red;
    height: 740px;
    margin: 0 auto;
    // margin-left: 20px;
    // padding-left: 20px;
    // height: 100%;
}

.news_slider_content {
    cursor: pointer;
    margin-left: 14px;
    // border: 1px solid green;
    &:hover > .pic > img {
        // transition: all 1.2s ease;
        transform: scale(1.1);
    }
    > .pic:first-of-type {
        overflow: hidden;
        max-width: 370px;
        width: 100%;
        // height: 240px;
    }
}

.wrap_author {
    display: flex;
    // align-items: center;
    .pic {
        position: relative;
        max-width: 60px;
        width: 100%;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        // margin: 0 auto;
    }
}

.wrap_wht_bckg {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    padding: 30px 20px;
    & h3 {
        font-family: $font_family_Montserrat;
        color: #2C4058;
        font-size: 1.375rem;
        line-height: 1.6575rem;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    & > p {
        font-family:$font_family_OpenSans;
        font-size: 1.125rem;
        line-height: 1.531875rem;
        margin-bottom: 39px;
    }
}

.wrap_info_news {
    & p:first-of-type {
        font-family: $font_family_Montserrat;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1.375rem;
        padding-top: 5px;
        margin-bottom: 6px;
    }
    & p:last-of-type {
        font-family: $font_family_Montserrat;
        // text-transform: uppercase;
        font-size: 0.875rem;
        line-height: 1.0625;
        color: #55B7FF;
    }
}

// custom slider arrows

#latest_news .slick-prev,
#latest_news .slick-next {
    -webkit-transform: translate(0, -230%);
    -ms-transform: translate(0, -230%);
    transform: translate(0, -230%);
}



#latest_news .slick-prev {
    left: -89px;
}

#latest_news .slick-next {
    right: -96px;
}

#latest_news .slick-prev {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0.5;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg);
        left: 17px;
        bottom: 15px;
    }
}

#latest_news .slick-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
    opacity: 0.5;
    &::before {
        content: '';
        display: block;
        position: absolute;
        right: 17px;
        bottom: 15px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(135deg);
    }
}

#news_slider .slick-prev:hover,
#news_slider .slick-prev:focus,
#news_slider .slick-next:hover,
#news_slider .slick-next:focus
{
    color: #fff;
    opacity: 1;
}

.gallery {
    max-width: 1170px;
    width: 100%;
}

#gallery {
    padding-bottom: 139px;
    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & h2 {
        padding-top: 140px;
    }
    & .gallery {
        display: grid;
        gap: 10px;
        grid-template-columns: (2fr 1fr 1fr);
        margin-bottom: 60px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
    }
    & .pic {
        cursor: pointer;
        overflow: hidden;
        &:hover img {
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
        &:hover .loop {
            display: block;
            
        }
        &:first-of-type {
            grid-row: 1 / 3;
        }   
    }
    & a {
        position: relative;
    }
}

.loop {
    position: absolute;
    // border: 2px solid red;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    
}

#map {
    height: 700px;
    // max-width: 1600px;
    width: 100%;
    z-index: 1;
    > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        &:after {
            content: 'Click to interractive map';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #000;
            color: #fff;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20%;
            transition: all .2s ease;
        }
        &:hover:after {
            opacity: 0.6;
            
        }
    }
}

#map img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: top;
}

#contacts_section {
    position: relative;
}

.wrap_form {
    position: absolute;
    // top: -200px;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    background-color: #fff;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 60px 69px 60px;
    z-index: 9;
    box-shadow: 0px 0px 30px rgba(44, 64, 88, 0.5);
}

.mb_h2 {
    margin-bottom: 42px;
}

.wrap_form_contacts {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
}

.form_contacts {
    display: flex;
    flex-direction: column;
    & a {
        text-decoration: none;
        font-family:$font_family_Montserrat;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        margin-bottom: 30px;
        color: #2C4058;
    }
}

.form_action_wrap {
    max-width: 310px;
    width: 100%;
    // outline: 2px;
}

.form_action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.btn-sub {
    align-self: flex-end;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    padding: 0 34px;
}

input[type=text] {
    height: 41px;
    border:none;
    color: #4B5562;
    border-bottom: 1px solid #4B5562;
    font-family:$font_family_Montserrat;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    opacity: 0.5;
    margin-bottom: 30px;
    &:focus {
        outline: none;
        color: #000;
        border-bottom: 1px solid #000;
        opacity: 1;
        // border: 2px solid #FF6363;
    }

}



input[type=search] {
    &:focus {
        outline: none;
        border: 2px solid #FF6363;
    }
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    & span {
        font-family:$font_family_Montserrat;
        font-size: 1rem;
        color: #2C4058;
        text-align: center;
    }
    & img {
        width: 50%;
        height: 50%;
    }
}

.footer {
    .container {
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
//         // padding-top: 204px;
//         // padding-bottom: 233px;
//         // height: 549px;
//     }
//     .footer_logo {
//         // margin-right: 369px;
    }
}


.wrap_footer {
    padding-top: 214px;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    justify-content: space-between;
    margin-bottom: 41px;
}

.copyrights {
    color: #fff;
    font-family: $font_family_Montserrat;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 400;
    padding-bottom: 233px;
    // padding-left: 415px;
}

#side_block {
    // width: 50%;
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    background: rgba(84, 116, 253, .5);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    padding: 20px;
    height: 100vh;
    z-index: 12;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.open {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .header_logo {
        position: relative;
        margin-bottom: 60px;
        img {
            margin-top: 10px;
        }
        &::before {
            content: ('');
            position: absolute;
            width: 50px;
            height: 30px;
            top: 0;
            left: -10px;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        &::after {
            content: ('');
            position: absolute;
            width: 50px;
            height: 30px;
            bottom: -10px;
            right: -10px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
}


#page_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    z-index: 11;
    &.open {
        display: block;
    }
}

.hamb_menu {
    display: none;
}






