*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a,
button,
svg,
input[type=search],
input[type=button] {
  transition: all 0.2s ease;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2C4058;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  background-color: #fff;
}
body.lock {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid #fff;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

.header_logo,
.footer_logo {
  width: 241px;
}

#side_block {
  display: none;
}

.first_screen {
  position: relative;
  margin-bottom: 100px;
}

.wrap_menu {
  position: absolute;
  top: 53px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px;
  align-items: center;
  margin-bottom: 200px;
}

.main_menu {
  line-height: 0;
}
.main_menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
}
.main_menu li {
  display: flex;
  flex-direction: row;
  margin-right: 70px;
}
.main_menu li:last-child {
  margin-right: 0;
}
.main_menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.1rem;
  margin-left: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
}
.main_menu li::before {
  content: "";
  display: block;
  position: relative;
  top: 17%;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.main_menu li:hover::before {
  content: "";
  border: 4px solid #fff;
  width: 7px;
  height: 7px;
}

.socials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.socials ul li {
  line-height: 0;
  margin-right: 20px;
}
.socials ul li:last-child {
  margin-right: 0;
}

.hamb_menu {
  display: none;
}

.main_slider {
  max-width: 1600px;
  width: 100%;
  max-height: 800px;
  height: 100%;
}

.slider_item {
  width: 100%;
  height: 800px;
  text-align: center;
  padding-top: 330px;
  padding-bottom: 330px;
  background-repeat: no-repeat;
}
.slider_item p {
  font-family: "Montserrat";
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 240px;
}

/*custom light slider dots*/
/*custom light slider dots*/
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  top: 33%;
}

.slick-dots li {
  margin: 20px 52px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  display: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 0px solid #fff;
  border-radius: 50%;
  content: "";
}

.slick-dots li.slick-active button:before {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 1;
  background-color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-size: 5rem;
  color: #fff;
  line-height: 6.095rem;
  letter-spacing: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials_svg {
  width: 40px;
  height: 40px;
}
.socials_svg:hover {
  transform: scale(1.1);
}

.bottom_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 70px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.bottom_arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.bottom_arrow::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(225deg);
  top: -2px;
  left: 49.9%;
}
.bottom_arrow:hover {
  transform: scale(1.1);
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.3525rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 89px;
}

.up_line::before {
  content: "";
  display: block;
  border-top: 1px solid #2C4058;
  max-width: 100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.wrap_commerce {
  display: flex;
  flex-wrap: wrap;
}

.wrap_two_img {
  max-width: 845px;
  width: 100%;
  height: 527px;
  background-color: #55B7FF;
  margin-right: 70px;
}

.wrap_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 151px;
}
.wrap_details p:first-child {
  font-family: "Montserrat";
  font-size: 1.375rem;
  line-height: 1.67625rem;
  text-transform: uppercase;
}
.wrap_details p:last-of-type {
  font-family: "Montserrat";
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-bottom: 41px;
}

h2.text_h2_left {
  text-align: left;
  margin-bottom: 19px;
}

.btn_details {
  margin-bottom: 60px;
}

.map_link {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.275rem;
  color: #000;
  text-decoration: none;
}

.footer .container {
  padding-top: 204px;
  height: 549px;
  width: 100%;
}
.footer .footer_logo {
  margin-right: 369px;
}

.wrap_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 41px;
}

.copyrights {
  color: #fff;
  font-family: "Montserrat";
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 400;
  padding-left: 415px;
}