*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: grey;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 1rem;
  line-height: 1.21875rem;
}

img {
  width: 100%;
  vertical-align: top;
  object-fit: contain;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.header .container {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #F8F1EA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_profiles {
  display: flex;
}

.header_logo {
  width: 182px;
  height: 34px;
}

.footer .container {
  background-color: #35312D;
}

.footer_logo {
  width: 150px;
  height: 30px;
}

.main_menu {
  padding: 28px 0;
  margin: 0 291px 0 213px;
}
.main_menu ul {
  text-align: center;
  list-style: none;
}
.main_menu li {
  display: inline-block;
  margin-right: 30px;
}
.main_menu li:last-child {
  margin-right: 0;
}
.main_menu li:hover {
  background-color: #F16A50;
}
.main_menu li:hover a {
  color: #ffffff;
}
.main_menu a {
  font-size: 18px;
  line-height: 25px;
  color: #000;
  stroke-width: 0px;
  stroke: 0px;
  text-decoration: none;
}

.search_foto,
.contact_profile {
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  margin-right: 30px;
  cursor: pointer;
}

.search_foto:hover,
.contact_profile:hover {
  stroke: #F16A50;
  stroke-width: 0;
  fill: #F16A50;
}

.btn {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  height: 50px;
  line-height: 46px;
  border: 2px solid #000;
  padding: 0 57px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #F16A50;
  color: #fff;
  border: 2px solid #F16A50;
}

.btn_white {
  color: #fff;
  border-color: #fff;
}

h1 {
  color: #F8F1EA;
  text-transform: uppercase;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  margin-bottom: 50px;
}

.slider_item {
  width: 100%;
  height: 700px;
  text-align: center;
  padding-top: 120px;
  padding-left: 900px;
}

.slick-dots li button {
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: rgba(248, 241, 234, 0.7);
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  bottom: 50px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: tomato;
  border-radius: 50%;
  border: 1px solid;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li.slick-active button::before {
  color: tomato;
}

.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

h2 {
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
  margin-bottom: 50px;
}

.slider_img {
  max-width: 204px;
  width: 100%;
  height: 300px;
}

.label {
  background-color: #fff;
  max-width: 204px;
  width: 100%;
}

.product_slider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.product_slider_content {
  max-width: 224px;
  width: 100%;
}

.hamb_menu {
  display: none;
}