$font_family: 'Montserrat', sans-serif;
$text_color: #000000;
$font_size: 1rem;
$line_height: 1.21875rem;
$background_color_white: #fff;

@import 'parts/reset';
@import 'hamburger';

body {
    background-color: $background_color_white;
    font-family: $font_family;
    color: $text_color;
    font-size: $font_size;
    // font-weight: 400;
    line-height:$line_height;
}

img {
    width: 100%;
    vertical-align: top;
    object-fit: contain;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.wrap_other_menu {
    // position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #F8F1EA;
    // height: 175px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_profiles{
    display: flex;
}

.header_logo {
    // width: 182px;
    // height: 34px;
}


main {
    // margin-top: 75px;
}

.footer .container {
    background-color: #35312D;
}

.footer_logo {
    max-width: 150px;
    width: 100%;
    height: 30px;
}

.main_menu {
    // padding: 28px 0;
    margin: 0 291px 0 213px;
    & ul {
        text-align: center;
        list-style: none;
        font-size: 2rem;
    }
    & li {
        display: inline-block;
        // margin-right: 30px;
        padding: 28px 12px;
        // &:last-child{
        //     margin-right: 0;
        // }
        &:hover{
            background-color: #F16A50;
            // padding-top: 28px;
            // padding-bottom: 28px;
            // & .main_menu {
            //     padding-top: 0;
            //     padding-bottom: 0;

            & a {
                color: #ffffff;
            }
        }
    }
    & a {
        font-size: 1.25rem;
        line-height: 1.5625rem;
        color: #000;
        stroke-width: 0px;
        stroke: 0px;
        text-decoration: none;
    }
}

.search_foto,
.contact_profile {
    width: 30px;
    height: 30px;
    // fill: rgb(212, 69, 69);
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    margin-right: 30px;
    cursor: pointer;
}

.search_foto:hover,
.contact_profile:hover {
    stroke: #F16A50;
    stroke-width: 0;
    fill: #F16A50;
}

.btn {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    background-color: transparent;
    height: 50px;
    line-height: 46px;
    border: 2px solid #000;
    padding: 0 57px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: $font_family;
    &:hover {
        background-color: #F16A50;
        color: #fff;
        border: 2px solid #F16A50;
    }
}

.btn_white {
    color: #fff;
    border-color: #fff;
}

h1 {
    color: #F8F1EA;
    text-transform: uppercase;
    font-size: 3.125rem;
    line-height: 3.8125rem;
    margin-bottom: 50px;
}

.main_slider {
    max-width: 1400px;
    width: 100%;
}

.slider_item {
    width: 100%;
    height: 700px;
    text-align: center;
    padding-top: 120px;
    padding-left: 900px;
}


.slick-dots li button {
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: rgba(248, 241, 234, 0.7);
    border-radius: 50%;
}

.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    bottom: 50px
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: tomato;
    border-radius: 50%;
    border: 1px solid;
}

.slick-dots li {
    margin: 0 15px;
}

.slick-dots li.slick-active button::before {
    color: tomato;
}

.slick-dotted.slick-slider{
    margin-bottom: 70px;
}

h2 {
    font-size: 2rem;
    line-height: 2.4375rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slider_img {
    max-width: 204px;
    width: 100%;
    height: 300px;
    // padding: 20px 10px;
}




.product_slider {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 53px;
    &+.btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

.product_slider_content {
    padding: 20px 10px;
    max-width: 224px;
    width: 100%;
    border: 1px solid rgba(248, 241, 234, 1);
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    &:hover{
        border-color: #F16A50;
    }
}


.label {
    background-color: #F16A50;
    max-width: 60px;
    width: 100%;
    color: #F8F1EA;
    font-size: 0.625rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

.sold {
    color: #000;
    background-color: #F8F1EA;
}

.name {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.25rem;
    
}
.price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -25px;
}

.slick-prev:before {
    content: '';
    display: block;
    background-image: url('../images/prev.png');
    width: 40px;
    height: 74px;
    background-repeat: none;
}

.slick-next:before {
    content: '';
    display: block;
    background-image: url('../images/prev.png');
    width: 40px;
    height: 74px;
    background-repeat: none;
    transform: scale(-1, 1);
}

.slick-prev:before, .slick-next:before {
    // font-size: 20px;
    // line-height: 1;
    opacity: 1;
    // color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before {
    opacity: 1;
    content: '';
    display: block;
    background-image: url('../images/next-active.png');
    width: 40px;
    height: 74px;
    background-repeat: none;
    transform: scale(-1, 1);
}

.slick-next:hover:before{
    opacity: 1;
    content: '';
    display: block;
    background-image: url('../images/next-active.png');
    width: 40px;
    height: 74px;
    background-repeat: none;
    transform: scale(1, 1);
}

section:last-child .container {
    background-color: #F8F1EA;
    padding: 70px 0;
    & h2 {
        margin-bottom: -40px;
    }

}

.partners_slider {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}


.partners_item {
    margin: 0 15px;
    & img{
        max-height: 70px;
        height: 100%;
    }
    // cursor: pointer;
    // border: 1px solid green;
    padding-top: 80px;
    // max-width: 224px;
    width: 100%;
    position: relative;
    // margin: 0 10px;
    &:hover{
        border-color: #F16A50;
    }

}

.wrap_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    margin:0 130px 50px;
}

.footer_bottom {
    text-align: center;
}

.footer_logo {
    margin-bottom: 35px;
}

.footer_menu {
    & ul {
        list-style: none;
        & li {
            margin-bottom: 10px;
            & a {
                text-decoration: none;
                color: #F8F1EA;
                &:hover {
                    color: #F16A50;
                }
            }
        }
    }
}

.footer_contact {
    color: #F8F1EA;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 48px;
}

.socials {
    fill: #F8F1EA;
    // stroke: #F8F1EA;
}

.socials_second {
    fill: none;
}

.footer_socials {
    margin-bottom: 32px;
    & ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        & li {
            width: 60px;
            // border: 1px solid tomato;
            & a:hover .socials  {
                fill: #F16A50;
            }
            & a:hover .socials_second  {
                stroke: #F16A50;
            }

        }
    }   
}

.phone {
    color: #F8F1EA;
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 2rem;
    &:hover {
        color: #F16A50;
    }
}

.copyright {
    color: #F8F1EA;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    padding-bottom: 20px;
}


.hamb_menu {
    display: none;
}