*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 1rem;
  line-height: 1.21875rem;
}

img {
  width: 100%;
  vertical-align: top;
  object-fit: contain;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.wrap_other_menu {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #F8F1EA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_profiles {
  display: flex;
}

.footer .container {
  background-color: #35312D;
}

.footer_logo {
  max-width: 150px;
  width: 100%;
  height: 30px;
}

.main_menu {
  margin: 0 291px 0 213px;
}
.main_menu ul {
  text-align: center;
  list-style: none;
  font-size: 2rem;
}
.main_menu li {
  display: inline-block;
  padding: 28px 12px;
}
.main_menu li:hover {
  background-color: #F16A50;
}
.main_menu li:hover a {
  color: #ffffff;
}
.main_menu a {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: #000;
  stroke-width: 0px;
  stroke: 0px;
  text-decoration: none;
}

.search_foto,
.contact_profile {
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  margin-right: 30px;
  cursor: pointer;
}

.search_foto:hover,
.contact_profile:hover {
  stroke: #F16A50;
  stroke-width: 0;
  fill: #F16A50;
}

.btn {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  height: 50px;
  line-height: 46px;
  border: 2px solid #000;
  padding: 0 57px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #F16A50;
  color: #fff;
  border: 2px solid #F16A50;
}

.btn_white {
  color: #fff;
  border-color: #fff;
}

h1 {
  color: #F8F1EA;
  text-transform: uppercase;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  margin-bottom: 50px;
}

.main_slider {
  max-width: 1400px;
  width: 100%;
}

.slider_item {
  width: 100%;
  height: 700px;
  text-align: center;
  padding-top: 120px;
  padding-left: 900px;
}

.slick-dots li button {
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: rgba(248, 241, 234, 0.7);
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  bottom: 50px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: tomato;
  border-radius: 50%;
  border: 1px solid;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li.slick-active button::before {
  color: tomato;
}

.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

h2 {
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.slider_img {
  max-width: 204px;
  width: 100%;
  height: 300px;
}

.product_slider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 53px;
}
.product_slider + .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}

.product_slider_content {
  padding: 20px 10px;
  max-width: 224px;
  width: 100%;
  border: 1px solid #f8f1ea;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
.product_slider_content:hover {
  border-color: #F16A50;
}

.label {
  background-color: #F16A50;
  max-width: 60px;
  width: 100%;
  color: #F8F1EA;
  font-size: 0.625rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
}

.sold {
  color: #000;
  background-color: #F8F1EA;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.25rem;
}

.price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -25px;
}

.slick-prev:before {
  content: "";
  display: block;
  background-image: url("../images/prev.png");
  width: 40px;
  height: 74px;
  background-repeat: none;
}

.slick-next:before {
  content: "";
  display: block;
  background-image: url("../images/prev.png");
  width: 40px;
  height: 74px;
  background-repeat: none;
  transform: scale(-1, 1);
}

.slick-prev:before, .slick-next:before {
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before {
  opacity: 1;
  content: "";
  display: block;
  background-image: url("../images/next-active.png");
  width: 40px;
  height: 74px;
  background-repeat: none;
  transform: scale(-1, 1);
}

.slick-next:hover:before {
  opacity: 1;
  content: "";
  display: block;
  background-image: url("../images/next-active.png");
  width: 40px;
  height: 74px;
  background-repeat: none;
  transform: scale(1, 1);
}

section:last-child .container {
  background-color: #F8F1EA;
  padding: 70px 0;
}
section:last-child .container h2 {
  margin-bottom: -40px;
}

.partners_slider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.partners_item {
  margin: 0 15px;
  padding-top: 80px;
  width: 100%;
  position: relative;
}
.partners_item img {
  max-height: 70px;
  height: 100%;
}
.partners_item:hover {
  border-color: #F16A50;
}

.wrap_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  margin: 0 130px 50px;
}

.footer_bottom {
  text-align: center;
}

.footer_logo {
  margin-bottom: 35px;
}

.footer_menu ul {
  list-style: none;
}
.footer_menu ul li {
  margin-bottom: 10px;
}
.footer_menu ul li a {
  text-decoration: none;
  color: #F8F1EA;
}
.footer_menu ul li a:hover {
  color: #F16A50;
}

.footer_contact {
  color: #F8F1EA;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 48px;
}

.socials {
  fill: #F8F1EA;
}

.socials_second {
  fill: none;
}

.footer_socials {
  margin-bottom: 32px;
}
.footer_socials ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer_socials ul li {
  width: 60px;
}
.footer_socials ul li a:hover .socials {
  fill: #F16A50;
}
.footer_socials ul li a:hover .socials_second {
  stroke: #F16A50;
}

.phone {
  color: #F8F1EA;
  text-decoration: none;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
}
.phone:hover {
  color: #F16A50;
}

.copyright {
  color: #F8F1EA;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding-bottom: 20px;
}

.hamb_menu {
  display: none;
}