*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: #000000;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    /* letter-spacing: 6%; */
    background-image: url(../images/documentation.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

a, 
button, 
input[type="button"],
input[type="reset"], 
input[type="submit"] {
    transition: all .2s ease;
}

img {
    width: 100%;
    vertical-align: top;
}

article p {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 97%;
    /* border: 1px solid red;  */
    /* height: 100%; */
}

header {
    padding: 0 0 86px;
    font-family: 'Roboto', sans-serif;
    /* height: 55px; */
    
}

header .container {
    padding-top: 12px;
    background-color: #fff;
    /* border: 1px solid red; */
}

.fixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    /* border: 1px solid #4CAF50; */
    z-index: 100;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.wrap-flex {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 1.5% 0;
    flex-wrap: wrap;
    /* border: 1px solid green;  */
    max-width: 1920px;
    margin: 0 auto;
    width: 97%;
}

.aside-menu {
    position: sticky;
    top: 103px;
    width: 685px;
}

.main-content {
    width: 1160px;
}

.aside-menu ul {
    position: absolute;
}

.aside-menu ul li {
    list-style: none;
    border-bottom: 1px solid #BFBFBF;
    padding-top: 91px;
    /* width: 1920px; */
    /* border: 1px solid pink; */
}

.aside-menu ul li:first-of-type {
    padding-top: 0;
}

header a,
ul li a {
    text-decoration: none;
    color: #000;
}

header a:hover,
ul li a:hover {
    text-decoration: underline;
}

.language, .documentation, .who {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.language {
    font-weight: 900;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    letter-spacing: 0.06rem;
    /* color: #000; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.language a:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none;
}

.documentation {
    margin-left: 42px;
}

.who {
    flex-grow: 1;
    margin-left: 15px;
}

.logo {
    width: 243px;
    /* height: 55px; */
}

h2, li {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04rem;
    font-size: 36px;
}

h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    margin-bottom: -20px;
}

.line {
    content: '';
    display: inline-block;
    width: 80px;
    /* height: 36px; */
    border-bottom: 12px solid #000;
    transform: rotate(0.42deg);
    margin-bottom: 9px;
}

nav ul li a {
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.04em;
}

.let-space {
    letter-spacing: 0.04rem;
}

sup {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.u-line {
    text-decoration: underline;
}

.grey-bcg {
    background-color: #dcdcdc;
    /* opacity: 0.9; */
}

.flip {
    display:inline-block;
    transform: scale(-1, 1);
}
