:root {
    --text-color: #544837;
    --orange-color: #FF9900;
    --text-size: 16px;
    --font-weight: 500;
    --font-family: 'Poppins', sans-serif;
    --bcg-color: #FFF;
    --line-height: 26px;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bcg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    }

.page_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 90%;
    border: 1px solid blue;
    /* height: 100%; */
}

header {
    /* border: 1px solid red; */
    padding: 15px 0;
}

main {
    flex-grow: 1;
    background-color: rgb(169, 218, 171);
    /* border: 1px solid red; */
}

footer {
    background-color: rgb(191, 163, 235);
    /* border: 1px solid red; */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0;
}

#main_menu ul {
    list-style: none;
}

#main_menu ul li {
    display: inline-block;
}

#main_menu ul li a {
    color: #2F281E;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    margin: 0 24px;
}


#main_menu ul li a:last-of-type {
    margin-right: 0;
}

#main_menu ul li a:hover,
#main_menu ul li a.active {
   text-decoration: underline;
   color: var(--orange-color);
}

#logo {
    margin-top: 8px;
    flex-grow: 1;
}

#main_menu {
    margin-right: 55px;
}

.btn {
    display:inline-block;
    cursor: pointer;
    height: 53px;
    line-height: 53px;
    padding: 0 41px;
    font-weight: 700;
    font-size: var(--text-size);
    border-radius: 4px;
    background: var(--orange-color);
    transition: all .2s ease;
}

header .btn {
    height: 46px;
    line-height: 46px;
    font-weight: 600;
    padding: 0 24px;
}

.white.btn {
    background-color: #FFF;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.white.btn:hover {
    background-color: #173A56;
    border-color: #173A56;
    color: #fff;
}

.orange.btn {
    background-color: var(--orange-color);
    color: #FFF;
    border: 1px solid var(--orange-color);
}

.orange.btn:hover {
    background-color: #FFF;
    color: var(--orange-color);
}



.btn_wrap .btn:first-child {
    margin-right: 14px;
}
