:root {
    --text-color: #544837;
    --orange-color: #FF9900;
    --text-size: 16px;
    --font-weight: 500;
    --font-family: 'Poppins', sans-serif;
    --bcg-color: #FFF;
    --line-height: 26px;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bcg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    transition: all .2s ease;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid blue; */
    /* height: 100%; */
}

.header {
    /* border: 1px solid red; */
    padding: 25px 0 40px;
}

.main {
    flex-grow: 1;
    /* background-color: rgb(169, 218, 171); */
    /* border: 1px solid red; */
}

.footer__container {
    /* background-color: rgb(191, 163, 235); */
    /* border: 1px solid red; */
    margin-bottom: 83px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */
}

.main-menu__ul {
    list-style: none;
}

.main-menu__li {
    display: inline-block;
}

.main-menu__a {
    color: #2F281E;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    margin: 0 24px;
}


.main-menu__a:last-of-type {
    margin-right: 0;
}

.main-menu__a:hover,
.main-menu__a.active {
   text-decoration: underline;
   color: var(--orange-color);
}

.header__logo {
    margin-top: 12px;
    flex-grow: 1;
}

.main-menu {
    margin-right: 55px;
}

.btn {
    display: inline-block;
    color: #FFF;
    cursor: pointer;
    height: 53px;
    line-height: 53px;
    padding: 0 41px;
    font-weight: 700;
    font-size: var(--text-size);
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background: var(--orange-color);
}

.btn--middle {
    height: 46px;
    line-height: 46px;
    font-weight: 600;
    padding: 0 24px;
}

.btn--white {
    background-color: #FFF;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.btn--white:hover {
    background-color: #173A56;
    border-color: #173A56;
    color: #fff;
}

.btn--orange {
    background-color: var(--orange-color);
    color: #FFF;
    border: 1px solid var(--orange-color);
}

.btn--orange:hover {
    background-color: #FFF;
    color: var(--orange-color);
}

.btn-wrap>.btn:first-child {
    margin-right: 14px;
}

.flex {
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: row;
}

.flex--start {
    justify-content: flex-start;
}

.flex--reverse {
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}

.content {
    font-size: 0;
}

.content--padding {
    /* align-self: center; */
    padding-right: 45px;
}

.content__h1 {
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
    line-height: 54px;
    margin: 83px 0 30px;
    }

.content__p {
    font-weight: var(--font-weight);
    font-size: var(--text-size);
    line-height: var(--line-height);
}

.content__p--text_m {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 56px;
}

.content__p--m_margin {
    margin-bottom: 25px;
}

.content__p--l_margin {
    margin-bottom: 30px;
}

.content__p--margin_top {
    margin-top: 26px;
}

.list-product__p--margin_bottom {
    margin-bottom: 30px;
}

.list-product__check::before {
    content: url(../images/check.svg);
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    padding-top: 5px;
}

.btn-started {
    margin-right: 30px;
}

.btn-started:hover {
    background-color: #FFF;
    color: var(--orange-color);
}

.btn-watch {
    display: inline;
    color: var(--orange-color);
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    font-size: var(--text-size);
    font-weight: 600;
    font-family: var(--font-family);
    border: none;
    padding:0;
    margin:0;
}

.btn-watch:hover {
    text-decoration: none;
}

.btn-watch::before {
    content: url(../images/triangle.svg);
    padding-right: 8px;
    vertical-align: middle;
}

.section {
    margin-bottom: 109px;
}

.container__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.container__h2--center {
    text-align: center;
}

.container__h2--margin_s {
    margin-bottom: 22px;
}

.container__h2--margin_l {
    margin-bottom: 54px;
}

.container__h3 {
    color: #2F281E;
    font-weight: 700;
    font-size: var(--text-size);
    line-height: var(--line-height);  

}

.container__h3--padding {
    padding-bottom: 12px;
}

.btn--center {
    align-self: center;
    padding: 0 32px;
}

.btn--center:hover {
    color: var(--orange-color);
    background-color: #FFF;

}

.pref-column__img {
    margin-bottom: 25px;
}

.pref-column__h3 {
    margin-bottom: 13px;
}

.pref-column__p {
    margin-bottom: 34px;
}

.section:last-of-type .container {
    padding-bottom: 146px;
    border-bottom: 1px solid rgba(188, 208, 229, 0.496913);
    margin-bottom: 106px;
}

.list-product__p {
    font-size: var(--text-size);
}

.footer__li {
    list-style: none;
}

.footer__a {
    text-decoration: none;
    color: #544837;
    font-weight: 400;
    line-height: 35px;
}

.footer__a:hover {
    text-decoration: underline;
    color: var(--orange-color);
}

.footer__input-submit {
    padding: 0 15px;
    line-height: 39px;
    height: 39px;
}

.footer__input-submit:hover {
    color: var(--orange-color);
    background-color: #FFF;
}

.footer__input-text {
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
}

.footer__nav-about,
.footer__nav-disclaimer {
    margin-top: 62px;
    justify-content:flex-end;

}

.footer__nav-about {
    margin-right: 30px;
}

.footer__nav-disclaimer {
    margin-right: -64px;
}

.footer-sign-up {
    align-self: flex-end;
}