*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #16133D;
    font-size: 1rem;
    line-height: 1.75rem;
}

.container {
    max-width: 1155px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red; 
}

.container_footer {
    max-width: 1440px;
    background-color: #16133D;
}

a, 
button,
select,
.card {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

.main__h1 {
    font-size: 2.5rem;
    font-weight: 600;
    font-size: 40px;
    line-height: 3.25rem;
    letter-spacing: 0.2px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 35px;
}

/* img {
    width: 100%;
    vertical-align: top;
} */

.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}

/* ============================================ */

header {
    height: 80px;
    margin: 38px 0 55px;
}

header .container {
    border-bottom: 1px solid #EFEEF3;
    padding-bottom: 45px;
}

.main__p {
    line-height: 1.3125rem;
    color: #7690A8;
    margin-bottom: 17px;
}

.wrap_blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 41px 45px 46px 41px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.card:hover {
    border: 1px solid #3DB370;
}

.card__img {
    margin-bottom: 28px;
}

.card__h2 {
    margin-bottom: 14px;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.card__p {
    margin-bottom: 29px;
    font-size: 1rem;
    line-height: 1.75rem;
}

.card__a {
    line-height: 1.1875rem;
}

