:root {
  --text-color: #544837;
  --orange-color: #FF9900;
  --text-size: 16px;
  --font-weight: 500;
  --bcg-color: #FFF;
  --line-height: 26px;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 820px;
}

section#who_we_are {
  height: 685px;
}

section#travel_with_us_pool {
  height: 700px;
}

section#travel_with_us_sea {
  height: 700px;
}

section#reviews {
  height: 731px;
}

.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}